/********
 * Menu *
 ********/

GtkTreeMenu.menu,
GtkMenuToolButton.menu,
GtkComboBox .menu {
    background-color: @menu_bg_color;
}

.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.header-bar .menu,
.header-bar .primary-toolbar .menu,
.menu {
    padding: 0;
    border-radius: 0;
    border-style: none;
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

/*************
 * Menu Item *
 *************/
GtkTreeMenu .menuitem {
    padding: 0;
    border-width: 0;
}

GtkTreeMenu .menuitem * {
    color: @menu_fg_color;
}

.menuitem,
.menu .menuitem {
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    color: @menu_fg_color;

    -GtkMenuItem-arrow-scaling: 0.5;
}

.menu .menuitem:active,
.menu .menuitem:hover {
    border-color: shade(@selected_bg_color, 0.9);
    background-color: @selected_bg_color;
    background-image: none;
}

.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
    color: @selected_fg_color;
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
    color: shade(@menu_fg_color, 1.05);
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.menuitem.check:active,
.menuitem.radio:active {
    border-style: none;
    background-color: transparent;
}

/* Arrow color */
.menuitem.arrow {
    color: alpha(@menu_fg_color, 0.6);
}

/* Separator color */
.menuitem.separator {
    border-style: none;
    color: shade(@menu_fg_color, 3.2);    
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
}

/* Calendar */
.menuitem GtkCalendar:inconsistent {
    color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

.menuitem GtkCalendar.button {
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.menuitem .entry {
    border-color: shade(@menu_bg_color, 0.7);
    background-color: @menu_bg_color;
    background-image: none;
    color: @menu_fg_color;
}

.menuitem .entry:active,
.menuitem .entry:focus {
    border-color: shade(@menu_bg_color, 0.7);
}

.menuitem .accelerator {
    color: alpha(@menu_fg_color, 0.6);
}

.menuitem .accelerator:hover {
    color: alpha(@selected_fg_color, 0.8);
}

.menuitem .accelerator:insensitive {
    color: alpha(mix(@menu_fg_color, @menu_bg_color, 0.5), 0.6);
}


/***********
 * Menubar *
 ***********/
.menubar {
    -GtkWidget-window-dragging: true;

    border-style: none;
    background-color: @menubar_bg_color;
    background-image: none;
    color: @menubar_fg_color;
}

.menubar.menuitem,
.menubar .menuitem {
    padding: 3px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    color: @menubar_fg_color;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    border-color: shade(@menubar_bg_color, 0.85);
    background-color: shade(@menubar_bg_color, 0.9);
    background-image: none;
}

.menubar .menuitem *:hover {
    color: shade(@menubar_fg_color, 1.08);
}

.menubar.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
    border-style: none;
    color: shade(@menu_fg_color, 3.2);
}