/*************
 * Separator *
 *************/
 
.pane-separator {
    background-color: @bg_color;
    color: @base_color;
}

.pane-separator:hover,
.pane-separator:selected {
    color: @text_color;
}

.pane-separator:backdrop,
.pane-separator:hover:backdrop {
    background-color: @bg_color;
}

.notebook .pane-separator,
.notebook .pane-separator:hover {
    background-color: @hover_bg_color;
}

.notebook .pane-separator:backdrop,
.notebook .pane-separator:hover:backdrop {
    background-color: @base_color;
}