/***********
 * Toolbar *
 ***********/

/* Padding */
.toolbar {
    padding: 6px;
}

.toolbar .button {
    padding: 3px;
}

.toolbar .button.text-button {
    padding: 2px 16px;
}

.toolbar .button.image-button {
    padding: 5px 4px 4px 5px;
}

/* Gradients */
.toolbar {
    background-image: linear-gradient(to bottom,
                                      @toolbar_gradient_color_a,
                                      @toolbar_gradient_color_b
                                      );
}

/* Button Gradient */
.toolbar GtkComboBox,
.toolbar .button,
.toolbar .button.text-button,
.toolbar .button.image-button {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_gradient_color_a,
                                      @toolbar_button_gradient_color_b
                                      );
}

/* Hover Gradient */
.toolbar .button:hover {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_hover_gradient_color_a,
                                      @toolbar_button_hover_gradient_color_b
                                      );
}

/* Active Gradient */
.toolbar .button:active {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_active_gradient_color_a,
                                      @toolbar_button_active_gradient_color_b
                                      );
}

/* Border colors */
.toolbar,
.toolbar GtkComboBox,
.toolbar .button,
.toolbar .button:active,
.toolbar .button:active:focus,
.toolbar .button:active:hover,
.toolbar .button:active:hover:focus,
.toolbar .button:focus,
.toolbar .button:hover,
.toolbar .button:hover:focus,
.toolbar .button .separator,
.toolbar .button.separator,
.toolbar .entry,
.toolbar .entry:active,
.toolbar .entry:focus {
    border-color: @borders;
}

/* Menubar toolbars */
.toolbar.menubar {
    -GtkToolbar-button-relief: normal;
}

/* Insensitive */
.toolbar:insensitive {
    color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.5);
    background-color: shade(@toolbar_bg_color, 0.9);
}

.toolbar .button:insensitive {
    border-color: @insensitive_borders;
    background-color: shade(@toolbar_bg_color, 1.0);
    background-image: none;
}

.toolbar .button:active:insensitive {
    border-color: @insensitive_borders;
    background-color: shade(@toolbar_bg_color, 1.0);
    background-image: none;
}

.toolbar .button .separator:insensitive,
.toolbar .button.separator:insensitive {
    border-color: @insensitive_borders;
}

/*******************
 * Primary Toolbar *
 *******************/

.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    -GtkWidget-window-dragging: true;
    padding: 3px;
    border-bottom: 1px;
    border-bottom-color: #000;
    border-style: solid;
    border-color: @borders;
    background-image: linear-gradient(to bottom,
                                      @toolbar_gradient_color_a,
                                      @toolbar_gradient_color_b
                                      );
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button {
    padding: 2px;
    border-width: 1px;
    border-radius: 4px;
}

/* Gradients */
.primary-toolbar GtkComboBox,
.primary-toolbar .button,
.primary-toolbar .raised .button,
.primary-toolbar .raised.button {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_gradient_color_a,
                                      @toolbar_button_gradient_color_b
                                      );
}

.primary-toolbar .button:hover {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_hover_gradient_color_a,
                                      @toolbar_button_hover_gradient_color_b
                                      );
}

.primary-toolbar .button:active {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_active_gradient_color_a,
                                      @toolbar_button_active_gradient_color_b
                                      );
}

.primary-toolbar .button:active
.primary-toolbar .button:active:hover,
.primary-toolbar .button:active:focus,
.primary-toolbar .button:active:hover:focus,
.primary-toolbar .button:focus,
.primary-toolbar .button:hover
.primary-toolbar .button:hover:focus,
.primary-toolbar .entry,
.primary-toolbar .entry:active,
.primary-toolbar .entry:focus,
.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.primary-toolbar .button .separator,
.primary-toolbar .button.separator {
    border-color: @borders
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator {
    border-color: @toolbar_separator;
    color: @toolbar_separator;
}

/* Insensitive */
.primary-toolbar .button:insensitive {
    border-color: @insensitive_borders;
    background-color: shade(@toolbar_bg_color, 1.0);
    background-image: none;
}

.primary-toolbar .button:active:insensitive {
    border-color: @insensitive_borders;
    background-color: shade(@toolbar_bg_color, 1.0);
    background-image: none;
}

.primary-toolbar .separator:insensitive {
    border-color: @insensitive_borders;
    color: shade(@toolbar_bg_color, 0.95);
}

.primary-toolbar .button .separator:insensitive,
.primary-toolbar .button.separator:insensitive {
    border-color: shade(@borders, 1.45);
}

/******************
 * Inline Toolbar *
 ******************/

 .inline-toolbar GtkComboBox,
.inline-toolbar .button {
    padding: 1px;
    border-width: 1px;
    border-radius: 4px;
}


.inline-toolbar.toolbar {
    -GtkToolbar-button-relief: normal;

    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: @borders;
    border-radius: 0px;
    background-image: linear-gradient(to bottom,
                                      @inline_toolbar_gradient_color_a,
                                      @inline_toolbar_gradient_color_b
                                      );
}

.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button:hover:focus,
.inline-toolbar.toolbar .button:active:focus,
.inline-toolbar.toolbar .button:active:hover:focus,
.inline-toolbar .button .separator,
.inline-toolbar .button.separator {
    border-color: @borders
}

/* Bottom */
.inline-toolbar.toolbar:last-child {
    border-width: 0 1px 1px 1px;
    border-color: @borders;
    border-radius: 0px;
}

/* Top */
.inline-toolbar.toolbar:first-child {
    border-top: 1px;
    border-color: @borders;
    border-radius: 0px;
}



/* Gradients */
.inline-toolbar GtkComboBox,
.inline-toolbar .button,
.inline-toolbar .raised .button,
.inline-toolbar .raised.button {
    background-image: linear-gradient(to bottom,
                                      @inline_toolbar_button_gradient_color_a,
                                      @inline_toolbar_button_gradient_color_b
                                      );
}

.inline-toolbar .button:hover {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_hover_gradient_color_a,
                                      @toolbar_button_hover_gradient_color_b
                                      );
}

.inline-toolbar .button:active {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_active_gradient_color_a,
                                      @toolbar_button_active_gradient_color_b
                                      );
}

.inline-toolbar .button:insensitive,
.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    background-image: linear-gradient(to bottom,
                                      @toolbar_button_insensitive_gradient_color_a,
                                      @toolbar_button_insensitive_gradient_color_b
                                      );
}


.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    border-color: @insensitive_borders
}