/*************************
 * touch text selections *
 *************************/
GtkBubbleWindow {
    border-radius: 4px;
    background-clip: border-box;
}

GtkBubbleWindow.osd.background {
    background-color: @osd_bg;
}

GtkBubbleWindow .toolbar {
    background-color: transparent;
}