/*********
 * Views *
 *********/

.frame {
    border-width: 1px;
    border-style: solid;
    border-color: @borders;
    border-radius: 0;
}

.view {
    background-color: @view_bg_color;
    color: @text_color;
}

.view:insensitive,
.view:insensitive:insensitive {
    background-color: @insensitive_bg_color;
    color: @insensitive_fg_color;
}

.view:selected,
.view:selected:focus {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/* Selected */
.view.rubberband,
.rubberband {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@selected_bg_color, 0.9);
    border-radius: 0;
    background-color: alpha(@selected_bg_color, 0.3);
}

/* Viewport */
GtkViewport.frame {
    border-width: 0;
}

/* Scrolled Window */
GtkScrolledWindow.frame {
    border-width: 1px;
    border-style: solid;
    border-color: @borders;
    border-radius: 0;
}

GtkScrolledWindow GtkViewport.frame {
    border-style: none; /* To avoid double borders when a viewport is packed into a GtkScrolledWindow */
}

/* Treeview */

GtkTreeView.view.separator,
GtkTreeView.separator,
.separator,
.separator:hover {
    color: @borders;
    background-color: @borders;
}


GtkTreeView {
    -GtkTreeView-vertical-separator: 0;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 1;
}

GtkTreeView.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@selected_bg_color, 0.9);
    border-radius: 0;
}

GtkTreeView .entry {
    border-radius: 0;
    background-color: @view_bg_color;
    background-image: none;
}

/* Textview */
GtkTextView {
    background-color: @view_bg_color;
    color: @text_color;
}

/* Iconview */
GtkIconView.view {
    background-color: @view_base_color;
}
 
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@selected_bg_color, 0.9);
    border-radius: 4px;
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/* Content view */
.content-view.view {
    background-color: @view_bg_color;
}

.content-view.view:prelight {
    background-color: alpha(@selected_bg_color, 0.6);
}

.content-view.view:selected,
.content-view.view:active {
    background-color: @selected_bg_color;
}

.content-view.view:insensitive {
    background-color: @insensitive_base_color;
}

GdMainIconView.content-view {
    -GdMainIconView-icon-size: 40;
}

GtkIconView.content-view.check {
    background-color: transparent;
}

GtkIconView.content-view.check:active {
    background-color: transparent;
}

.content-view.view.check,
.content-view.view.check:active {
    background-color: transparent;
}

GtkIconView.content-view.check:prelight,
GtkIconView.content-view.check:insensitive,
GtkIconView.content-view.check:selected {
    background-color: transparent;
}

/* Drawing area */
GtkDrawingArea {
    background-color: transparent;
}

GtkDrawingArea:insensitive {
    background-color: @insensitive_bg_color;
}