/******************
 * Visual Effects *
 ******************/

/* Transitions */
.button {
    transition: border 100ms ease-in-out;
}

.entry {
    transition: border 100ms ease-out;
}

.entry:focus {
    transition: all 100ms ease-in;
}

/* Inset Shadows */

.button:active:insensitive,
.primary-toolbar .button:active:insensitive,
.toolbar .button:active:insensitive,
.header-bar .button:active:insensitive,
.entry:insensitive {
    box-shadow: none;
}

.entry:focus {
    box-shadow: inset 1px 2px alpha(@selected_bg_color, 0.1),
            inset 1px 1px alpha(@selected_bg_color, 0.1),
            inset -1px -1px alpha(@selected_bg_color, 0.2); 
}